<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HuwWenCapture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HuwWenCapture.Properties.Settings>
            <setting name="CaptureHotkey" serializeAs="String">
                <value>Alt+Shift+Q</value>
            </setting>
            <setting name="CaptureDirectory" serializeAs="String">
                <value>SPECIAL_PICTURES</value>
            </setting>
            <setting name="StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
        </HuwWenCapture.Properties.Settings>
    </userSettings>
</configuration>